$color-gray: #F2F2F2;
$main-color: #360D36;

body {
  background-color: #ffff;
  color: $main-color;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

@import "bootstrap";

.banner {
  background-image: url("/images/banner-image.jpg");
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;

  h2 {
    background-color: #ffffff7a;
  }
}
